body, html {
    margin: 0;
    padding: 0;
    background-color: #31b5da;
}
h1{
    margin-top: 0%;
    text-align: center;
}
.calculator-container {
    background-image: url('calculator.avif');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    height: 80vh;
}

.calculator {
    padding: 20px;
    border: 12px solid #1a1818;
    border-radius: 50px;
}

input[type="text"] {
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 10px;
}

button {
    padding: 10px;
    background-color: #2597de;
    cursor: pointer;
}

button:hover {
    background-color: #ed0909;
}
